.navbar__row {
  div.search-bar {
    width: 50%;
    margin-top: 3%;
    margin-right: 10%;

    ion-avatar {
      width: 60px;
      height: 60px;
    }

    ion-button {
      width: 20%;
      height: 70%;
      --background: var(--ion-color-dark-blue);
    }

  }
}
