:root {
    --ion-color-dark-blue: #2c4d62;
    --ion-color-dark-blue-rgb: 44,77,98;
    --ion-color-dark-blue-contrast: #ffffff;
    --ion-color-dark-blue-contrast-rgb: 255,255,255;
    --ion-color-dark-blue-shade: #274456;
    --ion-color-dark-blue-tint: #415f72;
}

.ion-color-dark-blue {
    --ion-color-base: var(--ion-color-dark-blue);
    --ion-color-base-rgb: var(--ion-color-dark-blue-rgb);
    --ion-color-contrast: var(--ion-color-dark-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-blue-shade);
    --ion-color-tint: var(--ion-color-dark-blue-tint);
}