.tab {
  margin: 30px;
}

#patientHeader{
  color:#2C4D62;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 50px;
}

#Container{
  border-radius: 15px;
  border: 2px solid #E7E7E7;
  padding: 20px;
}

#innerContainer{
  background-color: rgba(44,77,98,.12);
  border-radius: 50px;
  border: 2px solid rgba(44, 77, 98, 0.23);
  box-sizing: border-box;
  filter: blur(1);
  padding: 13px;
}

#headCol{
  color :#2C4D62;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  text-align: center;
}

#col{
  color :#2C4D62;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 18px;
  margin: auto;
  text-align: center;
}

#colName{
  color :#2C4D62;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 18px;
  margin: auto;
  text-align: left;
}

#tableRow{
  border-radius: 10px;
  border: 3px solid #E7E7E7;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  height:60px ;
  vertical-align: middle;
}

#PosStatus{
  height: 32px;
  width: 100px;
  font-weight: normal;
  border-radius: 60px;
  background-color:#129C0F ;
  color: #FEFFFE;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -17px;
  vertical-align: middle;
  line-height: 32px;
  text-align: center;
}

#NegStatus{
  height: 32px;
  width: 100px;
  font-weight: normal;
  border-radius: 60px;
  background-color:#F80D38;
  color: #FEFFFE;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -17px;
  vertical-align: middle;
  line-height: 32px;
  text-align: center
}

#lastUpdate{
  color : #f80d38;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 18px;
  margin: auto;
  text-align: center;
}

ion-avatar{
  height: 50.79px;
  width: 42px;
  padding: 5px;
  padding-bottom: 5px;
  background-position: center;
  vertical-align: middle
}

:root{
  --ion-color-favorite:#2C4D62;
  --ion-color-favorite1: rgba(44, 77, 98, 0.74);
}

.ion-color-favorite{
  --ion-color-base: var(--ion-color-favorite);
}
.ion-color-favorite1{
  --ion-color-base: var(--ion-color-favorite1);
}
.confirmButton {
  text-align: right;
}
.unconfirmedButton {
  text-align: left;
  color: #2C4D62;
}

