ion-content.patients-page__content {

  ion-title {
    color: #2C4D62;
    align-items: baseline;
  }

  ion-col.patients-page__confirmed {
    text-align: right;
  }

  ion-col.patients-page__unconfirmed {
    text-align: left;
  }

  ion-button.patients-page__button-unselected {
    color: var(--ion-color-primary-contrast);
    --background: var(--ion-color-dark-blue);
  }

  ion-button.patients-page__button-selected {
    color: var(--ion-color-dark-blue);
    --background: var(--ion-color-primary-contrast);
  }

}
