table.patients-table__table {

  th:first-child {
    border-radius: 10px 0 0 10px;
  }

  th:last-child {
    border-radius: 0 10px 10px 0;
  }

  tr.patients-table__table-head {
    background-color: #e2e3e3;
    border-radius: 50px;
    box-sizing: border-box;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 9999;

    th.patients-table__table-column-title {
      color: #2C4D62;
      font-weight: bold;
      font-size: 15px;
      text-align: center;
      padding: 10px;
    }
  }

  tr.patients-table__table-entries {
    border-radius: 10px;
    border-bottom: 1px solid #E7E7E7;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: inherit;

    td {
      color: #2C4D62;
      font-weight: normal;
      font-size: 16px;
      margin: auto;
      text-align: center;
      padding: 10px;

      ion-button {
        color: var(--ion-color-dark-blue);
        --background: var(--ion-color-primary-contrast);
      }
    }

    td.patients-table__table-entries__name {
      text-align: left;
      padding-left: 4%;
      font-weight: bold;
    }

    div.patients-table__status {
      height: 32px;
      font-weight: normal;
      font-size: 14px;
      border-radius: 60px;
      background-color: #129C0F;
      color: #FEFFFE;
      vertical-align: middle;
      line-height: 32px;
      text-align: center;
    }

    div.patients-table__status__positive {
      background-color: #F6FFED;
      color: #129C0F;
    }

    div.patients-table__status__negative {
      background-color: #FFF1F0;
      color: #CF1322;
    }

    div.patients-table__status__pending {
      background-color: #EBEBEB;
      color: #959595;
    }

    td.patients-table__table-entries__last-updated {}

    td.patients-table__table-entries__doctor-name {}

    td.patients-table__flag {
      font-size: 30px;

      .patients-table__flag__no-priority {
        color: gray;
      }

      .patients-table__flag__high-priority {
        color: red;
      }
    }

    td.patients-table__reminder {
      font-size: 30px;

    }

  }

}
